# This will automatically install the Sumo Logic collector on AWS Elastic
# Beanstalk instances. Add this to the .ebextensions folder in your app root
# and edit L24-25 to match your Sumo Logic accessid and accesskey.
# Sumo has a free level and aggregates your logs.  Totally worth using.

# Note: ENV_REPLACE is swapped out in the build process

packages:
  rpm:
    SumoCollector: https://collectors.sumologic.com/rest/download/rpm/64

services:
  sysvinit:
    collector:
      enabled: true
      ensureRunning: true
      files:
        - /etc/sumo.conf

files:
  "/etc/sumo.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      accessid=<ACCESS_ID>
      accesskey=<ACCESS_KEY>
      rpmAutoStart=false
      ephemeral=true
      syncSources=/etc/sumo_sources.json

  "/etc/sumo_sources.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      {
        "api.version": "v1",
        "sources": [
          {
            "sourceType": "LocalFile",
            "name": "Client/Application",
            "category": "<PROJECT>/ENV_REPLACE/client",
            "pathExpression": "/var/log/web-1.log"
          },
          {
            "sourceType": "LocalFile",
            "name": "Client/Error",
            "category": "<PROJECT>/ENV_REPLACE/client",
            "pathExpression": "/var/log/web-1.error.log"
          },
          {
            "sourceType": "LocalFile",
            "name": "Nginx/Access",
            "category": "<PROJECT>/ENV_REPLACE/client",
            "pathExpression": "/var/log/nginx/access.log"
          },
          {
            "sourceType": "LocalFile",
            "name": "Nginx/Error",
            "category": "<PROJECT>/ENV_REPLACE/client",
            "pathExpression": "/var/log/nginx/error.log"
          }
        ]
      }
