@import "./antd-custom.less";


* {
  font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
  'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New',
  monospace, serif;
}
a {
  color: #ED5565;
}
p {
  font-size: 14px;
  line-height: 24px;
}
article {
  margin: 0 auto;
  max-width: 650px;
}
